
.idea/

venv_new/

sources/proxies.txt

sources/__pycache__/

sources/Selenium_1/proxy_auth_ext.zip

sources/Selenium_2/proxy_auth_ext.zip

sources/tasks.csv

sources/Selenium_1/

sources/Selenium_2/

sources/proxy_ext_1.zip

sources/proxy_ext_2.zip
